{% load static %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>cars</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe laboriosam dignissimos, iusto laudantium veniam dolorem aut porro, doloremque vel, necessitatibus ad perspiciatis impedit praesentium! Quasi ex id eveniet praesentium, provident nostrum quidem.i</h2>
     <img src="{% static 'image/image.jpg' %}" >
</body>
</html>